* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F9E3D2;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 380px;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    /*color: #555;*/
    font-size: 14px;
    color:red;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #FF6F00;
    outline: none;
}

.btn {
    background-color: #FF6F00;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #e65e00;
    transform: scale(1.02);
}

.btn-google {
    background-color: #808080;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
}

.google-logo {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.description {
    font-size: 14px;
    color: #777;
    margin: 15px 0;
}

.link {
    font-size: 14px;
    margin-top: 15px;
}

.link a {
    color: #FF6F00;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .btn, .btn-google {
        padding: 10px;
    }

    h2 {
        font-size: 22px;
    }
}
#error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}