body {
    background-color: rgb(245, 245, 245); /* Set the background color */
    font-family: Arial, sans-serif;
}

.slide{
    margin-top: 30px;
    margin-bottom: 30px;
}

.navbar {
    border-radius: 0.5rem;
}

.carousel-inner {
    margin: 0 auto; /* Bỏ hoặc giảm margin top */
    border-radius: 0.5rem; /* Soft rounded corners for images */
    width: 475px;
    height: 595px;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.5);
}
.carousel-inner img {
    display: inline-block;
    width: 100%;
    height: 100%;

}

h2 {
    font-size: 1.5rem; /* Slightly larger font size for headings */
}

.rating .fa-star {
    font-size: 1.25rem; /* Increase star size for better visibility */
}

.btn-outline-primary {
    border-color: #007bff; /* Primary border color */
    color: #007bff; /* Primary text color */
}

.btn-outline-primary:hover {
    background-color: #007bff; /* Highlight on hover */
    color: #fff; /* Change text color to white on hover */
}

#checkout-btn {
    transition: background-color 0.3s; /* Smooth transition for button */
}

#checkout-btn:hover {
    background-color: #e0e0e0; /* Slightly darker background on hover */
}

.container {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
    border-radius: 0.5rem; /* Rounded corners for the container */
    overflow: hidden; /* Ensure no overflow of content */
    background-color: #FFFFFF;
}
.infor{
    background-color: #FFFFFF;
    height: 600px;
    width: 620px;
    border-radius: 0.5rem;
    margin: 30px auto;
    padding: 20px;

}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: red; /* Thay đổi màu nền cho biểu tượng */
    border-radius: 50%; /* Tạo hình tròn cho nút */

}
.bi-caret-right,
.bi-caret-left{
    width: 25px;
    height: 25px;
    color: red;
}

.carousel-control-prev,
.carousel-control-next {
    color: #E2E2E2; /* Thay đổi màu chữ của nút nếu có */
}

/*.carousel-control-prev:hover,*/
/*.carousel-control-next:hover {*/
/*    background-color: rgba(255, 0, 0, 0.5); !* Màu nền khi hover *!*/
/*}*/
